body {
    background-image: radial-gradient(ellipse  100% 100% , #d9ead3, #d9ead3 25%, transparent 25%),radial-gradient(ellipse  50% 50% , #cfe2f3, #cfe2f3 25%, #d9ead3 25%);
    background-size: 1em 1em, 2em 2em;
    margin: 0;
    padding: 0;
}
.main {
    background-image: url("pic.jpeg");
    background-repeat: repeat-y;
    background-position: center;
    position:relative;
    animation: animate 5s;
    -webkit-text-fill-color: #eff3b7;
    letter-spacing: 2px;
    font-family: 'futara', 'Bodoni MT', 'Rockwell', 'Arial';
    text-shadow: 0px 1px 0px #ffffff;
    text-align: center;
    font-size: 30px;
}
@keyframes animate {
    0% {
        background-position: -500%;
        font-size: 0px;
        text-align: center;
    }
        50%{
            font-size: 50px;
            text-align: center;
        }
    100% {
        background-position: 50%;
        font-size: 30px;
        text-align: center;
    }
}
