body {
    background-image: radial-gradient(ellipse  100% 100% , #d9ead3, #d9ead3 25%, transparent 25%),radial-gradient(ellipse  50% 50% , #cfe2f3, #cfe2f3 25%, #d9ead3 25%);
    background-size: 1em 1em, 2em 2em;
    margin: 0;
    padding: 0;
}
.main {
    background-image: url("pic.jpeg");  text-align: center; text-shadow: 0px 1px 0px #ffffff; background-repeat:repeat-y; background-position: center;
    position:relative;
    font-family: 'futara', 'Bodoni MT', 'Rockwell', 'Arial';
    font-size: xx-large;
    letter-spacing: 2px;
    animation: animate 5s;
    background-clip: text;
    -webkit-text-fill-color: #3f1d6f;
}
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 50%;
    }
}
